Source: thinkpad-acpi-patched
Section: misc
Priority: optional
Maintainer: Julian Andres Klode <jak@debian.org>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9), dkms
Vcs-Git: https://github.com/julian-klode/linux.git
Vcs-Browser: https://github.com/julian-klode/linux

Package: thinkpad-acpi-patched-dkms
Architecture: all
Section: kernel
Depends: ${misc:Depends}
Description: Patched thinkpad_acpi module with charge controls (DKMS)
 This package contains a patched thinkpad_acpi module offering charge
 control.
